html {
    font-size: 100%;
}
body {
    color: #24292e;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
li {
    list-style: none;
}

.wrapper {
    max-width: 960px;
    margin: 0 auto 130px auto; /* 上 | 右 | 下 | 左 */
    font-size: 0.9rem;
    padding: 0 4%;
}
.site-title {
    line-height: 1px;
}
.site-title a {
    display: block;
}
.send-title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 65px;
}

#header {
    max-width: 960px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 270px;
    margin: 0 auto;
    padding: 0 4%;
}
#header ul {
    display: flex;
    padding: 10px 0;
}
#header li {
    font-size: 0.9rem;
    margin-left: 30px;
}
#header li a {
    color: #24292e;
}
#header li a:hover {
    opacity: 0.7;
}
#header li img.icon {
    width: 20px;
}

#mainvisual {
    margin-bottom: 80px;
}
#mainvisual img {
    width: 100%;
    max-width: 1920px;
    height: 420px;
    object-fit: cover;
}
#About{
    width: 60%;
}

#About ul{
    margin-bottom: 40px;
}
#About li:first-child{
    margin-bottom: 40px;
}
#About p{
    margin-left: 35px;
}

#Works ul{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
#Works li{
    width: 30%;
    margin-bottom: 20px;
}

#News dl{
    border-bottom: 1px solid #c8c8c8;
    
}
.flex{
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
    border-top: 1px solid #c8c8c8;
    border-bottom: 1pz solid #c8c8c8;
}

#Contact dl {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
#Contact dt {
    width: 15%;
}
#Contact dd {
    width: 80%;
    margin-bottom: 10px;
}
#Contact dd input,
#Contact dd textarea {
    width: 100%;
    border: solid 1px #c8c8c8;
    padding: 10px;
}
#Contact dd textarea {
    height: 10rem;
}
#Contact .button {
    text-align: center;
}
#Contact .button input {
    width: 200px;
    background-color: #24292e;
    color: #fff;
    padding: 15px 0;
    border: solid 1px #24292e;
}
#Contact .button input:hover {
    background: #fff;
    color: #24292e;
}
#footer {
    background-color: #24292e;
    color: #fff;
    font-size: 1rem;
    padding: 10px 20px;
    text-align: center;
}